@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

body {
  font-family: $sans;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $text-color;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  color: $text-color;
  text-decoration: none;
  background-color: #ffffff;
  text-transform: uppercase;

  &:hover {
    color: $white;
    background-color: $text-color;
  }

  &:active {
    color: #797979;
    background-color: $text-color;
  }
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
