.catalog-item {
  border: 1px solid #ececec;
  margin-top: 30px;
  font-weight: 700;
  line-height: 24px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  &__description {
    padding-left: 29px;
    padding-right: 28px;
    padding-top: 29px;
  }

  &__name {
    font-size: 17px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    color: $text-color;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ececec;
  }

  &__price {
    font-size: 15px;
    font-weight: bold;
  }

  &__footer {
    padding-bottom: 30px;
  }
}

.catalog {
  &__wrapper {
    width: 260px;
    margin: 0 auto;
  }
}

.page-main {
  width: 320px;
  margin: 0 auto;

  &__title {
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    padding-top: 76px;
    padding-bottom: 74px;
    margin: 0;
    background: $gray;
  }
}

@media (min-width: 768px) {
  .page-main--catalog {
    margin-top: -82px;
  }

  .page-main {
    width: 768px;
    margin-top: -82px;

    &__title {
      font-size: 43px;
      line-height: 50px;
      position: relative;
      padding-top: 105px;
      padding-bottom: 78px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 24px;
        background-image: url("../img/tablet/line-tablet.png");
        background-repeat: repeat-x;
      }
    }
  }


  .catalog {
    &__wrapper {
      width: 668px;
    }
  }

  .catalog-item {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;

    &__img {
      width: 50%;
    }

    &__description {
      width: 50%;
      padding-right: 33px;
      padding-top: 29px;
    }

    &__name {
      font-size: 20px;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 15px;
      margin: 0;
      padding-bottom: 182px;
    }

    &__text--big {
      padding-bottom: 156px;
    }

    &__price {
      font-size: 17px;
    }

    &__footer {
      padding-top: 23px;
    }
  }
}

@media (min-width: 1250px) {
  .page-main--catalog {
    margin-top: -49px;
  }

  .page-main {
    width: 1250px;

    &__title {
      font-size: 53px;
      line-height: 57px;
      padding-top: 105px;
      padding-bottom: 99px;
      position: relative;

      &::before {
        height: 34px;
        background-image: url("../img/desktop/line-desktop.png");
      }
    }
  }

  .catalog {
    &__wrapper {
      width: 1050px;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between;
    }
  }

  .catalog-item {
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    &__description {
      padding-top: 29px;
      padding-left: 28px;
      padding-right: 0;
      width: 83%;
    }

    &__text {
      padding-bottom: 45px;
    }

    &__text--bigbas {
      padding-bottom: 19px;
    }

    &__footer {
      padding-top: 23px;
      padding-bottom: 32px;
    }
  }
}
