.page-footer {
  background: $gray;
  width: 320px;
  margin: 0 auto;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: flex-end;
    padding-top: 24px;
    padding-bottom: 26px;
    padding-right: 0;
    padding-left: 58px;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
  }

  &__wrapper {
    width: 260px;
    margin: 0 auto;
  }

  &__logo {
    display: none;
  }
}

.social {
  &__link--facebook {
    margin-left: 41px;
    margin-right: 40px;
  }

  &__link {
    fill: $black;

    &:hover {
        fill: #46c1ae;
        stroke: #46c1ae;
      }

      &:active {
        fill: #bde3dd;
        stroke: #bde3dd;
      }
  }
}

.copyright {
    margin-right: 30px;
    position: relative;
    font-size: 19px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 36px;
    padding-right: 23px;

    &__link {
      position: absolute;
      top: 22px;
      right: 8px;
    }
  }


    .page-footer__logo-htmlacademy {
        fill: #63d1bb;


    &:hover {
      .page-footer__logo-htmlacademy {
        fill: #46c1ae;
        stroke: #46c1ae;
      }
    }

      &:active {

        .copyright__text {
          color: #a8a8a8;
        }

        .page-footer__logo-htmlacademy {
        fill: #bde3dd;
        stroke: #bde3dd;
      }
    }

  }


@media (min-width: 768px) {
  .copyright {
    &__link {
        top: 7px;
        right: -32px;
      }
  }

  .page-footer {
    width: 768px;

    &__wrapper {
      width: 668px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 51px;
      padding-bottom: 58px;
    }

    &__logo {
      display: block;
    }

    &__list {
      justify-content: space-between;
      border: none;
      padding-top: 6px;
      width: 140px;
      padding-left: 83px;

    }

    &__copyright {
      padding-top: 12px;
    }

    &__icon-logo {

      &:hover {
        fill: #46c1ae;
      }

      &:active {
        fill: #bde3dd;
      }
    }
  }
}

@media (min-width: 1150px) {
  .page-footer {
    width: 1150px;

    &__wrapper {
      width: 1050px;
    }
  }
}
