.page-footer {
  background: $gray;
  width: 320px;
  margin: 0 auto;

  &__copyright {
    font-size: 19px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  &__copyright {
    text-align: center;
  }

  &__wrapper {
    width: 260px;
    margin: 0 auto;

  }

  &__logo {
    display : none;
  }

}

@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    &__wrapper {
      width: 668px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 51px;
      padding-bottom: 58px;

    }
    &__logo {
    display: block;
  }
  }
}

@media (min-width: 1250px) {
  .page-footer{
    width: 1250px;
    &__wrapper {
      width: 1050px;
    }
  }
}
