.reviews {
  width: 320px;
  margin: 0 auto;
  line-height: 30px;
  font-size: 17px;

  &__wrapper {
    width: 260px;
    margin: 0 auto;
  }

  &__br {
    display: none;
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 15px;
    font-weight: 400;
    color: $text-color;
    margin: 0;
    margin-bottom: 27px;
    margin-right: 4px;
  }

  &__author-name {
    font-weight: 700;
    line-height: 24px;
    margin: 0;
  }

  &__author-nik {
    font-weight: 400;
    line-height: 30px;
    color: $text-color;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 29px;
  }

  &__item {
    margin: 0;
  }

  &__btns {
    display: flex;
    flex-direction: row;
  }

  &__btn {
    width: 50%;
    margin-bottom: 41px;
    padding-top: 12px;
    border: 1px solid $slider-color;
    text-align: center;
  }

  &__write {
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 13px;
    border: 2px solid $text-color;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: #444444;
      .button {
        color: $white;
        background-color: #444444;
      }
    }

    &:active {
      background-color: #444444;
        .button {
          color: #797979;
          background-color: #444444;
        }
    }
  }



  &__prev {
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__next {
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .icon__next {
    margin-bottom: 2px;
    cursor: pointer;
  }

  .icon__prev {
    margin-right: 3px;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .reviews {
    position: relative;
    width: 768px;
    background: url("../img/tablet/bg-reviews-tablet.jpg") no-repeat left;
    background-position: top left;

    &__wrapper {
      width: 668px;
      background-position: top left;
    }

    &__title {
      font-size: 43px;
      font-weight: 700;
      line-height: 50px;
      padding: 0;
      padding-top: 79px;
      margin: 0;
    }

    &__item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__text {
      width: 100%;
      font-size: 17px;
      line-height: 30px;
      font-weight: 400;
      margin: 0;
      padding-right: 15px;
      padding-top: 49px;
      padding-bottom: 58px;
    }

    &__author {
      width: 70%;
    }

    &__author-nik {
      margin-bottom: 0;
    }

    &__write {
      position: absolute;
      right: 0;
      width: 173px;
      top: 79px;
      margin-right: 48px;
      padding-top: 13px;
    }

    &__btn {
      border: none;
      margin-bottom: 55px;
      padding-right: 9px;
    }

    &__next {
      padding-right: 37px;
    }
  }

  .icon__next {
    margin-top: 2px;
  }

  .icon__prew {
    margin-top: 2px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    width: 1150px;
    background: none;

    &__wrapper {
      width: 1050px;
      background: url("../img/desktop/bg-reviews-desktop.jpg") no-repeat left;
      background-position: top left;
      background-size: 350px auto;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/desktop/bg-reviews-desktop2x.jpg");
        background-size: 350px auto;
      }
    }

    &__br {
      display: block;
    }

    &__write {
      margin-right: 45px;
      margin-top: 7px;
    }

    &__title {
      font-size: 53px;
      font-weight: 700;
      line-height: 57px;
      margin-top: 0;
      margin-bottom: 49px;
      padding-left: 174px;
    }

    &__text {
      padding-left: 178px;
      padding-right: 84px;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__author {
      margin-top: 39px;
      margin-bottom: 187px;
      padding-left: 178px;
      width: 25%;
    }

    &__btns {
      margin-top: 41px;
      margin-left: 437px;
    }
  }
}
