.reviews {

  &__title {
    font-size: 25px;
  }
  &__text {
    font-size: 15px;
    color: $text-color;
  }
  &__author-name {
    font-size: 17px;
    font-weight: bold;
  }
  &__author-nik {
    font-size: 17px;
    color: $text-color;
  }
}