.caption {
  font-weight: bold;
  font-family: "OpenSans", sans-serif;

  &__title {
    background: url("../img/mobile/bg-cap.jpg") no-repeat center;
    height: 283px;
  }

  &__list {
    font-size: 19px;
    color: white;
  }

  &--furniture {
    background: #63d1bb;
  }

  &--toy {
    background: #56c3b2;
  }
}
