caption {
  font-weight: bold;
  font-family: "OpenSans", sans-serif;
}
.caption__title {
  background: url("../img/mobile/bg-cap.jpg") no-repeat center;
  height: 283px;
  }

.caption__list {
  font-size: 19px;
  color: white;
}

.caption-text--furniture {
  background: #63d1bb;
  }

.caption-text--toy {
  background: #56c3b2;
}
