caption {
  font-weight: bold;
  font-family: "OpenSans", sans-serif;
  font-size: 19px;
}
.caption__title {
  background: url("../img/mobile/bg-cap.jpg") no-repeat center;
  height: 283px;
  font-size: 27px;
}