.catalog {
  &__title {
    font-size: 27px;
    background: #f1f1f1;
    color: black;
  }

  &__name {
    font-size: 17px;
  }

  &__text {
    font-size: 13px;
    color: #444444;
  }

  &__price {
    font-size: 15px;
  }

}