@import "_caption.scss";
@import "_about.scss";
@import "_button.scss";
@import "_catalog.scss";
@import "_contacts.scss";
@import "_form.scss";
@import "_page-footer.scss";
@import "_page-header.scss";
@import "_production.scss";
@import "_promo.scss";
@import "_reviews.scss";

body {
  font-family: "OpenSans", sans-serif;
  a {
  text-decoration: none;
  }
  li {
  list-style-type: none;
  }
}

