@import "variables.scss";
@import "blocks/_caption.scss";
@import "blocks/_about.scss";
@import "blocks/_catalog.scss";
@import "blocks/_contacts.scss";
@import "blocks/_form.scss";
@import "blocks/_page-footer.scss";
@import "blocks/_page-header.scss";
@import "blocks/_production.scss";
@import "blocks/_promo.scss";
@import "blocks/_reviews.scss";
@import "blocks/_base.scss";
