// Цвета
$black: #000000;
$gray: #f1f1f1;
$white: #ffffff;
$lite-green: #63d1bb;
$dark-green: #56c3b2;
$text-color: #444444;

// Шрифты
$sans: "OpenSans", "arial", sans-serif;

//Размеры версий экрана
$tablet-width: 768px;
$desktop-width: 1250px;
